html, body{
    height: 100%;
    line-height: 1;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: rgba(16, 39, 70, 1);
}
input{
    border: none;
    background: inherit;
    outline: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6{
    font-weight: inherit;
    font-size: inherit;
}
.wrapper{
    overflow: hidden;
}
.__container{
    max-width: 1090px;
    padding: 0 15px;
    margin: 0 auto;
}
._container{
    max-width: 1290px;
    padding: 0 15px;
    margin: 0 auto;
}
.title{
    font-weight: 600;
    font-size: 35px;
    color: #102746;
}
.main__header{
    margin-bottom: 176px;
}
.header__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav ul{
    display: flex;
    gap: 82px;
}
.header__nav li a{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.header__nav li a:hover{
    opacity: 0.9;
}
.main{
    min-height: 100vh;
    background:linear-gradient(180deg, rgba(53, 66, 103, 0.0001) 0%, #151824 95.04%), url(img/main.jpg) no-repeat center;
    background-size: cover;
    padding: 56px 0 376px 0;
}
.main__title{
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    max-width: 620px;
    margin-bottom: 22px;
}
.main__text{
    line-height: 24px;
    color: #FFFFFF;
    max-width: 546px;
    margin-bottom: 37px;
}
.main input{
    background: url(icon/input.png) no-repeat left;
    padding: 22px 0 22px 43px;
    width: 297px;
    margin-right: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    border-bottom: 3px solid #BFC0C5;
}
.main input::placeholder{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.main__btn{
    display: inline-block;
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    background: #1B7DFF;
}
.main__btn:hover{
    opacity: 0.8;
}
.benefits__title{
    margin-bottom: 120px;
}
.benefits{
    margin-bottom: 131px;
}
.benefits__wrap{
    max-width: 1260px;
    padding: 93px 100px 112px;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    margin: 0 auto;
    background-color: #FFFFFF;
    margin-top: -223px;
}
.benefits__cards{
    display: flex;
    gap: 55px;
}
.card__benefits_icon{
    margin-bottom: 37px;
}
.card__benefits_title{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 26px;
}
.card__benefits_text{
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 39px;
}
.card__benefits_more a{
    line-height: 24px;
    color: #006DFE;
    display: inline-block;
    text-transform: uppercase;
    background: url(icon/benefits/arrow.png) no-repeat 96%;
    padding-right: 59px;
}
.card__benefits_more a:hover{
    background: url(icon/benefits/arrow.png) no-repeat 100%;
    opacity: 0.8;
}
.trip{
    margin-bottom: 131px;
}
.trip__head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    align-items: center;
}
.trip__title{
    position: relative;
}
.trip__title::after{
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    height: 3px;
    width: 253px;
    background-color: #006DFE;
}
.trip__more a{
    line-height: 24px;
    text-align: right;
    color: #006DFE;
    text-transform: uppercase;
    display: inline-block;
    background: url(icon/benefits/arrow.png) no-repeat 96%;
    padding-right: 59px;
}
.trip__more a:hover{
    background: url(icon/benefits/arrow.png) no-repeat 100%;
    opacity: 0.8;
}
.trip__items{
    display: flex;
    flex-direction: column;
}
.trip__items_top{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    transition: transform 0.6s;
}
.trip__items img{
    width: 100%;
    height: auto;
}
.trip__items a{
    display: flex;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    align-items: flex-end;
}
.trip__item_top{
    position: relative;
}
.trip__items figcaption{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.trip__item_top a{
    padding: 0 0 27px 29px;
}
.trip__item_top:hover{
    transform: scale(1.05);
    transition: transform 0.6s;
    z-index: 2;
}


.trip__items_bottom{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    transition: transform 0.6s;
}
.trip__item_bottom{
    position: relative;
}
.trip__item_bottom a{
    padding: 0 0 27px 38px;
}
.trip__item_bottom:hover{
    transform: scale(1.05);
    transition: transform 0.6s;
    z-index: 2;
}

.areas{
    margin-bottom: 139px;
}
.areas__prefecture{
    display: flex;
    gap: 98px;
    margin-bottom: 65px;
}
.prefecture__areas_img{
    flex: 0 1 50%;
    background: url(img/areas/1.jpg) no-repeat center;
    background-size: cover;
    padding: 0 0 27% 0;
}

.prefecture__areas_item{
    padding: 26px 47px 49px 10px;
    flex: 0 1 50%;
}
.area__title{
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #102746;
}
.area__text{
    line-height: 24px;
    color: #102746;
}
.area__more a{
    display: inline-block;
    line-height: 24px;
    text-align: right;
    color: #006DFE;
    text-transform: uppercase;
    display: inline-block;
    background: url(icon/benefits/arrow.png) no-repeat 96%;
    padding-right: 59px;
}
.area__more a:hover{
    background: url(icon/benefits/arrow.png) no-repeat 100%;
    opacity: 0.8;
}
.prefecture__areas_title{
    margin-bottom: 85px;
}
.prefecture__areas_text{
    margin-bottom: 58px;
}

.neighborhood__areas{
    display: flex;
    gap: 68px;
}
.neighborhood__areas_item{
    padding: 26px 31px 13px 47px;
    flex: 0 1 50%;
}
.neighborhood__areas_img{
    flex: 0 1 50%;
    background: url(img/areas/2.jpg) no-repeat center;
    background-size: cover;
    padding: 0 0 28% 0;
}
.neighborhood__areas_title{
    margin-bottom: 45px;
    max-width: 357px;
}
.neighborhood__areas_text{
    margin-bottom: 94px;
}
.places{
    margin-bottom: 144px;
}
.places__title{
    margin-bottom: 54px;
    position: relative;
}
.places__title::after{
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    height: 3px;
    width: 253px;
    background-color: #006DFE;
}
.places__cards{
    display: flex;
    gap: 57px;
    flex-wrap: wrap;
}
.card__places{
    display: flex;
    flex-direction: column;
    width: calc(33.333% - 51px);
}
.card__places:last-child{
    margin-right: 0;
}
.card__places_img{
    margin-bottom: 45px;
    position: relative;
}
.card__places_img>img{
    height: auto;
    width: 100%;
}
.card__places_capt{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 16px 25px;
    background: rgba(21, 24, 36, 0.6);
}
.card__places_city{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.card__places_city:hover{
    text-decoration: underline;
}
.card__places_social{
    display: flex;
    align-items: center;
}
.card__places_social a, .card__places_social span{
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}
.card__places_social span{
    margin-right: 4px;
}
.card__places_social a:not(:last-child){
    margin-right: 14px;
}
.card__places_social img:hover{
    transform: scale(1.1);
}
.card__places_text{
    margin-bottom: 32px;
    line-height: 24px;
    color: #102746;
    padding-right: 25px;
}
.card__places_btn a{
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 19px;
    background: #006DFE;
}
.card__places_btn a:hover{
    opacity: 0.9;
}

.video__wrap{
    position: relative;
}
.video__item{
    padding-top: 56.25%;
}
.video__wrap iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
footer{
    padding: 118px 167px 118px 194px;
    background: #0E1D28;
}
.footer__wrap{
    display: flex;
    justify-content: space-between;
}
.footer__logo{
    padding-right: 15px;
}
.footer__links{
    display: flex;
    gap: 140px;
}
.footer__links h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 4px;
}
.footer__links a{
    display: inline-block;
    line-height: 24px;
    color: #FFFFFF;
}
.footer__links li{
    margin-bottom: 4px;
}
.footer__links li:last-child{
    margin-bottom: 0;
}
.footer__links a:hover{
    opacity: 0.6;
}